@charset "UTF-8";

/*
    Paletas de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden;

    background-color: #ffffff;
    width: 260px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000090;

    transform: translate(-50%, -50%);
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

.material-symbols-outlined {
    font-size: 1.2em;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 1px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: #ffffff;    
    font-size: 1.5em;
    padding: 6px 5px;
}

div.campo > input {
    background-color: #8ee7e4;
    font-size: 1em;
    width: calc(100% - 38.4px);
    height: 100%;
    border-radius: 5px;
    padding: 1px 3px;
    transform: translateY(-3.5px);
}
/* É quando clicar/digitar/focar dentro do elemento - focus*/
div.campo > input:focus-within {
    background-color: #ffffff;
    border: none;
}

form > div > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

form > div > input[type="submit"]:hover {
    background-color: #2b615f;
}

form > div > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #ffffff;
    color: #173534;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;

}

form > div > a.botao:hover {
    background-color: #60d4d1;
}

form > div > a.botao > span {    
    font-size: 0.8em;
    padding: 2px;
    transform: translateY(2px);
}